@model WebApplication.Models.WarehouseRecordModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WarehouseRecordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpecificationModel" class="control-label"></label>
                @*<select asp-for="SpecificationModelId" class ="form-control" asp-items="ViewBag.SpecificationModelId"></select>*@
                <select asp-for="SpecificationModelId" class="form-control" asp-items="ViewBag.SpecificationModelId" onchange="ChangeLabel()"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordType" class="control-label"></label>
                <select class="form-control form-select" asp-for="RecordType" asp-items="ViewBag.RecordTypes"></select>
                <span asp-validation-for="RecordType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MeasureUnit" class="control-label"></label>
                <input asp-for="MeasureUnit" class="form-control" />
                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
            </div>*@
            <select id="txtMeasureUnit" class="form-control disabled" asp-items="ViewBag.MeasureUnits" disabled></select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function ChangeLabel() {
            var specificationId = $('#SpecificationModelId').val();
            $('#txtMeasureUnit').val(specificationId);
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
