@model WebApplication.Models.WarehouseRecordModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WarehouseRecordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SpecificationModelId" class="control-label"></label>
                <select asp-for="SpecificationModelId" class="form-control" asp-items="ViewBag.SpecificationModelId"></select>
                <span asp-validation-for="SpecificationModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordType" class="control-label"></label>
                <select class="form-control form-select" asp-for="RecordType" asp-items="ViewBag.RecordTypes"></select>
                <span asp-validation-for="RecordType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MeasureUnit" class="control-label"></label>
                <input asp-for="MeasureUnit" class="form-control" />
                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
